/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: #353340;
}
/* Main Content */
main {
    background-color: #a7a5a5;
}
/* Footer */
footer {
    background-color: #353340;
}